<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Главная{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="page-wrapper">
        <!-- Header -->
        <header class="site-header">
            <div class="nav-container">
                <div class="site-brand">
                    <img src="{{ url_for('static', filename='logo.png') }}" alt="logo" class="logo">
                    <div>
                        <div class="brand-name"><a class="btn" href="{{ url_for('index') }}">Ассоциация Радиовещателей</a></div>
                        <div class="brand-sub small">Калькулятор покрытия</div>
                    </div>
                </div>

                <nav class="page-nav">
                    <a class="btn" href="{{ url_for('org_list') }}">Организации</a>
                    <a class="btn" href="{{ url_for('smi_list') }}">СМИ</a>
                    <a class="btn" href="{{ url_for('region_list') }}">Регионы</a>
                    <a class="btn" href="{{ url_for('district_list') }}">Районы</a>
                </nav>
            </div>
        </header>

        <!-- Main Content -->
        <main class="content">
            {% block content %}{% endblock %}
        </main>

        <!-- Footer -->
        <footer class="site-footer">
                <p class="small">Ассоциация радиовещателей, 2025</p>
        </footer>
    </div>
</body>
</html>
