{% extends "base.html" %}

{% block title %}Организации{% endblock %}

{% block content %}

<div class="container">
  <div class="card">
    <h2>Список организаций</h2>
    <a href="{{ url_for('org_create') }}" class="btn btn-primary" >Добавить организацию</a>
    <div class="table-wrap">
      <table class="app-table">
        <thead>
          <tr><th>Name</th><th>Short Name</th><th>INN</th><th>Actions</th></tr>
        </thead>
        <tbody>
          {% for org in organisations %}
          <tr>
            <td>{{ org.name }}</td>
            <td>
              <a href="{{ url_for('org_update', org_id=org.id) }}" class="btn btn-secondary">Править</a>
             
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


{% endblock %}